<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Player</th>
        <th>Assists</th>
        <th>Games</th>
    </tr>
    </thead>
    <tbody>
    <% var max = 5; %>
    <% if (full_scorers) { %>
    <% max = assists.length; %>
    <% } %>
    <% for(var i = 0; i < max; i++) { %>
    <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= assists[i].name %></td>
        <td><%= assists[i].assists %></td>
        <td><%= assists[i].games %></td>
    </tr>
    <% } %>
    </tbody>
</table>