<p class="text-right"><%= gameDate %></p>

<div class="row">
    <div class="col-md-2 col-md-offset-5 col-xs-12">
        <p class="text-center">
            <% include ../partials/game_title.ejs %>
        </p>

    </div>
</div>

<div class="col-md-4 col-xs-12">
    <% var teamName = 'White'; %>
    <% var team = game.white; %>
    <% include ../partials/squad.ejs %>
</div>

<div class="col-md-4 col-xs-12">
    <% var events = game.events; %>
    <% include ../partials/game_events.ejs %>
</div>

<div class="col-md-4 col-xs-12">
    <% var teamName = 'Color'; %>
    <% var team = game.color; %>
    <% include ../partials/squad.ejs %>
</div>

