<p class="text-right">October 23, 2016</p>

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <p class="text-center">Color - White <%= game.score.color %>:<%= game.score.white %></p>

    </div>
</div>


<div class="col-md-4">
    <% var team= game.color; %>
    <% include ../partials/squad.ejs %>
</div>

<div class="col-md-4">

    <ul class="list-group">
        <li class="list-group-item">0:1 Max</li>
        <li class="list-group-item">0:2 Iliya</li>
        <li class="list-group-item">1:2 Boris</li>
        <li class="list-group-item">2:2 Boris</li>
        <li class="list-group-item">2:3 Gleb</li>
    </ul>

</div>

<div class="col-md-4">
    <% var team= game.white; %>
    <% include ../partials/squad.ejs %>
</div>