<div class="panel panel-info">

    <div class="panel-heading">Goals</div>
    <ul class="list-group">

        <% for(var i = 0; i < events.length; i++) { %>
        <li class="list-group-item">
            <%= events[i].score %> <%= events[i].author %>
            <% if (events[i].type == 'owngoal') { %> (own goal) <% } %>
            <% if (events[i].assist != null) { %>
            (<%= events[i].assist %>)
            <% } %>
        </li>
        <% } %>
    </ul>
</div>