<% var whiteWon = whiteScore > colorScore; %>
<% var colorWon = whiteScore < colorScore; %>

<span class="icon-tshirt icon-white home large left"></span>
<% if (whiteWon > 0) { %>
<b>White</b>
<% } else { %>
White
<% } %>
-
<% if (colorWon > 0) { %>
<b>Color</b>
<% } else { %>
Color
<% } %>
<%= whiteScore %>:<%= colorScore %>
<span class="icon-tshirt icon-color away large right"></span>