<p class="text-right">October 23, 2016</p>

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <p class="text-center">Color - White <%= game.score.color %>:<%= game.score.white %></p>

    </div>
</div>


<div class="col-md-4">
    <% var teamName= 'Color'; %>
    <% var team= game.color; %>
    <% include ../partials/squad.ejs %>
</div>

<div class="col-md-4">
    <% var events= game.events; %>
    <% include ../partials/game_events.ejs %>

</div>

<div class="col-md-4">
    <% var teamName= 'White'; %>
    <% var team= game.white; %>
    <% include ../partials/squad.ejs %>
</div>