<p class="text-right"><%= gameDate %></p>

<div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-12">
        <p class="text-center">
        <% include ../partials/game_title.ejs %>
        </p>

    </div>
</div>



<div class="col-md-4 col-md-push-4 col-xs-12">
    <div class="panel panel-info">

        <div class="panel-heading">Goals</div>
        <% var events = game.events; %>
        <% include ../partials/game_events.ejs %>
    </div>

</div>

<div class="col-md-4 col-md-pull-4 col-xs-12">
    <% var teamName = 'White'; %>
    <% var team = game.white; %>
    <% var captain = whiteCaptain; %>
    <% include ../partials/squad.ejs %>
</div>

<div class="col-md-4 col-xs-12">
    <% var teamName = 'Color'; %>
    <% var team = game.color; %>
    <% var captain = colorCaptain; %>
    <% include ../partials/squad.ejs %>
</div>

