<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Russian Soccer stat</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li><a href="/games" onclick="showEvents()"><span class="glyphicon glyphicon-cd"></span> Games</a></li>
        <!--<li><a href="/scorers" onclick="showUsers()"><span class="glyphicon glyphicon-user"></span> Players</a></li>
        <li><a href="/scorers" onclick="showUsers()"><span class="glyphicon glyphicon-star"></span> Scorers</a></li>
        <li><a href="/assists" onclick="showInvites()"><span class="glyphicon glyphicon-thumbs-up"></span> Assists</a></li>
        <li><a href="/teamranking" onclick="showNotifications()"><span class="glyphicon glyphicon-list"></span> Ranking</a></li>-->
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>