<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Russian Soccer stat</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <% for (var i = 0; i < nav.length; i++) { %>
                <% if (nav[i].active) { %>
                    <li class="active">
                <% } else { %>
                    <li>
                <% }  %>
                        <a href="<%= nav[i].url %>"><span class="glyphicon glyphicon-<%= nav[i].icon %>"></span> <%= nav[i].title %></a>
                    </li>
                <% } %>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>