<div class="panel panel-default">

    <div class="panel-heading">Blue</div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Goals</th>
            <th>Assists</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i < team.length; i++) { %>
        <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= team[i] %></td>
            <td><%= 0 %></td>
            <td><%= 0 %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>