<!DOCTYPE html>
<html>
<head>
    <title>Russian Soccer stat - Goal + Pass</title>
    <% include ../partials/header.ejs %>
    <% include ../partials/counters.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div id="main" class="container">

    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Goal + Pass</h3></div>
            <div class="panel-body">
                <% var full_scorers = true; %>
                <% include ../partials/glas_list_small.ejs %>
            </div>
        </div>
    </div>

</div>

</body>
</html>
