<!DOCTYPE html>
<html>
<head lang="en">
  <title>Russian Soccer stat</title>
  <% include ../partials/header.ejs %>
  <% include ../partials/counters.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div id="main" class="container">

    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">Last game</h3></div>
      <div class="panel-body">
        <% var gameDate = lastGame.game.date; %>
        <% var game = lastGame; %>
        <% var whiteScore = game.score.white; %>
        <% var colorScore = game.score.color; %>
        <% include ../partials/game.ejs %>
      </div>
      <div class="panel-footer"><a href="/games" class="navbar-link">All games</a></div>
    </div>

    <div class="col-md-3 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Last games <span class="badge"><%= games.length %></span></h3></div>
        <div class="panel-body">
          <% include ../partials/game_list.ejs %>
        </div>
        <div class="panel-footer"><a href="/games" class="navbar-link">All games</a></div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Top scorers</h3></div>
        <div class="panel-body">
          <% var full_scorers = false; %>
          <% include ../partials/scorers_list_small.ejs %>
        </div>
        <div class="panel-footer"><a href="/scorers" class="navbar-link">All Scorers</a></div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Top assists</h3></div>
        <div class="panel-body">
          <% include ../partials/assists_list_small.ejs %>
        </div>
        <div class="panel-footer"><a href="/assists" class="navbar-link">All Assists</a></div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Goal + Pass</h3></div>
        <div class="panel-body">
          <% include ../partials/glas_list_small.ejs %>
        </div>
        <div class="panel-footer"><a href="/glas" class="navbar-link">All Goal + Pass</a></div>
      </div>
    </div>
  </div>


</body>
</html>
